<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Text1" value="IMEの制御方法を指定します。on:IMEオンにする、off:グローバル" />
        <add key="AlwaysIMEMode" value="on" />
        <add key="Text2" value="ダークモード対応にします。 on:ダーク off:ライト" />
        <add key="IsDarkMode" value="off" />
        <add key="Text3" value="既定でIMEオフにするアプリ名を指定します。カンマ,で区切ってください。" />
        <add key="ImeOffList" value="cmd,WindowsTerminal," />
        <add key="Text4" value="IMEオフにするタイトルの一部を指定します。" />
        <add key="ImeOffTitle" value="英語の文書.txt," />
        <add key="Text5" value="更新間隔をミリ秒（ms）で指定します。1000 = 1秒間隔" />
        <add key="intervalTime" value="500" />
        <add key="Text0" value="メニュー - 句読点切替" />
        <add key="Punctuation" value="1,3" />
        <add key="Text0" value="メニュー - スペース切替" />
        <add key="SpaceWidth" value="2,1" />
        <add key="Text0" value="メニュー - 終了の位置" />
        <add key="AppExitEnd" value="1" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
