<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- IMEの制御方法を指定します。on:IMEオンにする、off:グローバル。 -->
        <add key="AlwaysIMEMode" value="on" />
        <!-- 既定でIMEオフにするアプリ名を指定します。 カンマ,で区切ってください。 -->
        <add key="ImeOffList" value="cmd,WindowsTerminal," />
        <!-- IMEオフにするタイトルの一部を正規表現で指定します。 カンマ,で区切ってください。 -->
        <!-- add key="ImeOffTitle" value="\.cs,\.py," /-->
        <!-- 無視するアプリ名を指定します。 カンマ,で区切ってください。 -->
        <add key="AppList" value="Jane2ch," />
        <!-- 更新間隔をミリ秒(ms)で指定します。1000 = 1秒間隔 -->
        <add key="intervalTime" value="1000" />
        <!-- 未入力でIMEオンにする時間を分(min)で指定します。 -->
        <add key="NoKeyInputTime" value="1.5" />
        <!-- 少し無効にしてから再開するまでの時間を分(min)で指定します。 -->
        <add key="SuspendFewTime" value="3" />
        <!-- しばらく無効にしてから再開するまでの時間を分(min)で指定します。 -->
        <add key="SuspendTime" value="45" />
        <!-- 前面に来るか監視するアプリ名を指定します。 カンマ,で区切ってください。 -->
        <!-- add key="OnActivatedAppList" value="MyApp,MeApp" /-->
        <!-- 連携するアプリを指定します。 -->
        <!-- add key="OnActivatedAppPath" value="C:\Program Files\SkipUAC\SkipUAC.exe" /-->
        <!-- 引数を指定します。不要ならvalue="" -->
        <!-- add key="OnActivatedArgv" value="/ID foo" /-->
        <!-- アプリから離れるか監視するアプリ名を指定します。 カンマ,で区切ってください。 -->
        <!-- add key="EnteredBackgroundAppList" value="MyApp,MeApp" /-->
        <!-- アプリから離れたら使用するアプリを指定します。 -->
        <!-- add key="EnteredBackgroundAppPath" value="C:\Program Files\SkipUAC\SkipUAC.exe" /-->
        <!-- 引数を指定します。不要ならvalue="" -->
        <!-- add key="EnteredBackgroundArgv" value="/ID bar" /-->
        <!-- 離れてから使用するまでの遅延を指定します。 -->
        <!-- intervalTime x DelayBackgroundCount 遅延します。 -->
        <!-- add key="DelayBackgroundCount" value="300" /-->
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
