<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Text1" value="IMEの制御方法 on:IMEオンにする off:グローバル" />
        <add key="AlwaysIMEMode" value="on" />
        <add key="Text2" value="ダークモード対応 on:ダーク off:ライト" />
        <add key="IsDarkMode" value="on" />
        <add key="Text3" value="既定でIMEオフにするアプリ名を指定。カンマ,で区切る。" />
        <add key="ImeOffList" value="cmd,WindowsTerminal," />
        <add key="Text4" value="IMEオフにするタイトルの一部を正規表現で指定" />
        <add key="ImeOffTitle" value="英語の文書.txt,\.py," />
        <add key="Text5" value="無視するアプリ名" />
        <add key="PassList" value="Jane2ch," />
        <add key="Text6" value="更新間隔をミリ秒（ms）で指定。1000 = 1秒間隔" />
        <add key="intervalTime" value="500" />
        <add key="Text7" value="未入力でIMEオンにする時間を分（min）で指定" />
        <add key="NoKeyInputTime" value="1.5" />
        <add key="Text8" value="「少し無効」にしてから再開するまでの時間" />
        <add key="SuspendFewTime" value="3" />
        <add key="Text9" value="「しばらく無効」にしてから再開するまでの時間" />
        <add key="SuspendTime" value="45" />
        <add key="Text10" value="アクティブに移動を監視するアプリ名" />
        <add key="OnActivatedAppList" value="MyApp,MeApp" />
        <add key="Text11" value="連携するアプリケーション" />
        <add key="OnActivatedAppPath" value="C:\Program Files\SkipUAC\SkipUAC.exe" />
        <add key="Text12" value="引数" />
        <add key="OnActivatedArgv" value="/ID foo" />
        <add key="Text13" value="非アクティブに移動を監視するアプリ名" />
        <add key="BackgroundAppList" value="chrome,msedge" />
        <add key="Text14" value="連携するアプリケーション" />
        <add key="BackgroundAppPath" value="C:\Program Files\SkipUAC\SkipUAC.exe" />
        <add key="Text15" value="引数" />
        <add key="BackgroundArgv" value="/ID bar" />
        <add key="Text16" value="非アクティブになってから呼び出すまでの遅延" />
        <add key="DelayBackgroundTime" value="3" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
